{% extends "admin/base.html" %}
{% load i18n %}
{% load assets %}
{% load genericadmin %}



{% block title %}{% settings_get_setting SITE_TITLE as site_name %}{{ title }} | {{ site_name }} administration{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">{% get_generic_relation_list %}</script>
    <script type="text/javascript" src="{{ COURANT_ADMIN_MEDIA_URL }}js/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ COURANT_ADMIN_MEDIA_URL }}js/jquery-ui-personalized-1.5.3.min.js"></script>
    <script type="text/javascript" src="{{ COURANT_ADMIN_MEDIA_URL }}js/genericadmin.js"></script>
    <script type="text/javascript" src="{{ COURANT_ADMIN_MEDIA_URL }}js/sorting.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% settings_get_setting SITE_TITLE as site_name %}{{ site_name }} Administration</h1>
{% endblock %}

{% block nav-global %}{% endblock %}