{% extends "base.html" %}
{% load sections %}
{% block html_title %}{{ section.name }}{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="alternate" type="application/rss+xml" title="{{ section }} RSS" href="{{ section.get_absolute_url|slice:":-1" }}.rss" >
{% endblock %}

{% block content %}
<h1>{{ section.name }}</h1>
{% for subsection in section.subsections.all %}
    <h2><a href="{{ subsection.get_absolute_url }}">{{ subsection.name }}</a></h2>
    {% get_latest_from subsection 10 as subsection_articles %}
    <ul>
    {% for article in subsection_articles %}
        <li><a href="{{article.get_absolute_url }}">{{ article.heading }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
<h2>Misc</h2>
{% get_latest_from section 10 as section_articles %}
    <ul>
    {% for article in section_articles %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.heading }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}