#
# Minimal Sphinx configuration sample (clean, simple, functional)
#

#These are our base configuration blocks that are standard to all sources and indexes. They're subclassed by each index/source pair.
#They can be overriden if necessary

source base {
    type                = mysql
    sql_host            = localhost
    sql_user            = 
    sql_pass            = 
    sql_db              = 
    sql_port            =
}

index base {
    docinfo         = extern
    morphology      = none
    stopwords       = 
    min_word_len    = 2
    charset_type    = sbcs
    min_prefix_len  = 0
    min_infix_len   = 0
}

#End base configuration blocks


source events : base {

    sql_query_pre       =
    sql_query_post      =
    sql_query           = \
        SELECT id, name, slug, summary, description, type_id, tags, UNIX_TIMESTAMP(date) as date, start_time, end_time, \
               verified, submitted_by_id, created_at, modified_at, content_type \
        FROM events_event, (SELECT id as content_type FROM django_content_type \
                            WHERE app_label="events" and model="event") AS x
    sql_query_info      = SELECT * FROM `events_event` WHERE `id` = $id

    # ForeignKey's
    sql_attr_uint       = type_id
    sql_attr_uint       = verified
    sql_attr_uint       = content_type
    sql_attr_uint       = submitted_by_id


    # DateField's and DateTimeField's
    sql_attr_timestamp   = date
    sql_attr_timestamp   = created_at
    sql_attr_timestamp   = modified_at

}

index events : base
{
    source          = events
    path            = courant/search/indexes/events
}

source articles : base
{
    sql_query_pre       = REPLACE INTO sphinx_counter SELECT 1, @max_doc_id := MAX(id) FROM `news_article`
    sql_query_post      =
    sql_query           = \
        SELECT id, issue_id, section_id, display_type_id, status_id, heading, subheading, summary, \
               summary_html, body, body_html, slug, UNIX_TIMESTAMP(published_at) as date, content_modified_at, created_at, \
               modified_at, tags, enable_comments, content_type \
        FROM news_article, (SELECT id as content_type FROM django_content_type \
                            WHERE app_label="news" and model="article") AS x \
        WHERE id<=( SELECT max_doc_id FROM sphinx_counter WHERE counter_id=1 )
        
    sql_query_info      = SELECT * FROM `news_article` WHERE `id` = $id

    # ForeignKey's
    sql_attr_uint       = issue_id
    sql_attr_uint       = section_id
    sql_attr_uint       = display_type_id
    sql_attr_uint       = status_id
    sql_attr_uint       = enable_comments
    sql_attr_uint       = content_type


    # DateField's and DateTimeField's
    sql_attr_timestamp   = date
    sql_attr_timestamp   = content_modified_at
    sql_attr_timestamp   = created_at
    sql_attr_timestamp   = modified_at

}

source articles_delta : articles
{
    sql_query_pre   = SET NAMES utf8
    sql_query       = \
        SELECT id, issue_id, section_id, display_type_id, status_id, heading, subheading, summary, \
               summary_html, body, body_html, slug, UNIX_TIMESTAMP(published_at) as date, content_modified_at, created_at, \
               modified_at, tags, enable_comments, content_type \
        FROM news_article, (SELECT id as content_type FROM django_content_type \
                            WHERE app_label="news" and model="article") AS x \
        WHERE id>( SELECT max_doc_id FROM sphinx_counter WHERE counter_id=1 ) 
    sql_attr_uint       = content_type
    sql_attr_timestamp   = date
}


index articles
{
    source          = articles
    path            = courant/search/indexes/articles
}

index articles_delta
{
    source          = articles_delta
    path            = courant/search/indexes/articles_delta
}

source staffers : base {

    sql_query_pre       =
    sql_query_post      =
    sql_query           = \
        SELECT staff_staffer.id, position, content_type, first_name, last_name, 0 as date \
        FROM staff_staffer, (SELECT id as content_type FROM django_content_type \
                             WHERE app_label="staff" and model="staffer") AS x
    sql_query_info      = SELECT * FROM `staff_staffer` WHERE `id` = $id

    # ForeignKey's
    sql_attr_uint       = content_type
    
    #So staffers are included in results sorted by date
    sql_attr_timestamp   = date

}

index staffers : base {
    source          = staffers
    path            = courant/search/indexes/staffers
}

#GENERAL SERVER SETTINGS, DON'T NEED TO BE MESSED WITH USUALLY

indexer
{
	mem_limit				= 32M
}


searchd
{
	port					= 3312
	log					= @CONFDIR@/log/searchd.log
	query_log				= @CONFDIR@/log/query.log
	read_timeout			        = 5
	max_children			        = 30
	pid_file				= @CONFDIR@/log/searchd.pid
	max_matches				= 1000
	seamless_rotate			        = 0
	preopen_indexes			        = 0
	unlink_old				= 1
}
